<div id="welcomePage" class="welcomePage branding">
  <div class="welcomePageBody">
    <div class="usermanagementpanel">
      <div class="usermanagementMainContent">

        <div class="tit1">Amadeus</div>
        <div class="tit2">LSS Access Viewer</div>
        <!-- <div class = "viewContainer">   -->
        <div class="card" id="apple">
          <div class="card-body">


            <div classc="row">

              <form>
                <div class="mb-5">
                  <!-- <label for="exampleSelectNativeValidation1" class="form-label">Action Type <span style="color:red" uid="required">*</span></label> -->
                  <!-- <select class="form-select" id="exampleSelectNativeValidation1">


                    <option  id="sel" >Select<span style="color:red" uid="required">*</span></option>
                    <option   id="list"   > List- Access<span style="color:red" uid="required">*</span></option>
                    <option id="single" >Single-Access <span style="color:red" uid="required">*</span></option>
                  </select> -->
                  <br>
                  <!-- <button type="button" class="btn btn-outline-primary mb-2 mb-md-0 me-2 mt-2"  (click)="hidfunc1()" >List-Access</button>
                  <button type="button" class="btn btn-outline-primary mb-2 mb-md-0 me-2 mt-2" (click)="hidfunc2()">Single-Access</button> -->


                  <label for="exampleSelectNativeValidation1" class="form-label" id="action_label">Action Type<span
                      style="color:red" uid="required">*</span></label>
                  <select class="form-select" id="access_type" (change)="getSelectedValue($event)">
                    <option id="select">--select--</option>
                    <option id="list">List-Access<span style="color:red" uid="required"></span></option>
                    <option id="single">Single-Access <span style="color:red" uid="required"></span></option>

                  </select>

                </div>
                <div>

                  <div *ngIf="display1">

                    <label for="exampleSelectNativeValidation1" class="form-label">Access Type<span style="color:red"
                        uid="required">*</span></label>
                    <select class="form-select" id="exampleSelectNativeValidation1" >
                      <option id="list">--select-- <span style="color:red" uid="required"></span></option>
                      <option id="list">Permission<span style="color:red" uid="required"></span></option>
                      <option id="single">Preferences<span style="color:red" uid="required"></span></option>
                      <option id="list">Attribute<span style="color:red" uid="required"></span></option>
                      <option id="single">ACL<span style="color:red" uid="required"></span></option>
                    </select>
                  </div>

                  <div *ngIf="display2">

                    <label for="exampleSelectNativeValidation1" class="form-label">Access type<span style="color:red"
                        uid="required">*</span></label>
                    <select class="form-select" id="exampleSelectNativeValidation1"  (change)="getSelectedValueAccess($event)">
                      <option id="list">--select-- <span style="color:red" uid="required"></span></option>
                      <option id="list">Permission<span style="color:red" uid="required"></span></option>
                      <option id="single">Preferences<span style="color:red" uid="required"></span></option>
                      <option id="list">Attribute<span style="color:red" uid="required"></span></option>
                      <option id="single">ACL<span style="color:red" uid="required"></span></option>
                    </select>
                    </div>

                      <div *ngIf="displayperm">
                      <label for="sign" class="col-form-label">Permission Application Name <span style="color:red" uid="required">*</span></label>


                      <input id="sign" type="text" class="form-control mx-sm-1 d-inline w-auto"
                        placeholder="Application Name" /><br>



                      <label for="sign" class="col-form-label">Permission Name <span style="color:red"
                          uid="required">*</span></label><br>


                      <input id="sign" type="text" class="form-control mx-sm-1 d-inline w-auto"
                        placeholder="Permission" />
                    </div>

                    <div *ngIf="displayprefer">
                      <label for="sign" class="col-form-label">Application Preference <span style="color:red" uid="required">*</span></label><br>


                      <input id="sign" type="text" class="form-control mx-sm-1 d-inline w-auto"
                        placeholder="Preference" /><br>



                      <label for="sign" class="col-form-label">Preference <span style="color:red"
                          uid="required">*</span></label><br>


                      <input id="sign" type="text" class="form-control mx-sm-1 d-inline w-auto"
                        placeholder="Preference" />
                    </div>

                    <div *ngIf="displayattri">
                      <label for="sign" class="col-form-label">Attribute <span style="color:red" uid="required">*</span></label><br>


                      <input id="sign" type="text" class="form-control mx-sm-1 d-inline w-auto"
                        placeholder="attribute" /><br>
 </div>

 <div *ngIf="displayacl">
  <label for="sign" class="col-form-label">Application Name <span style="color:red" uid="required">*</span></label><br>


  <input id="sign" type="text" class="form-control mx-sm-1 d-inline w-auto"
    placeholder="application name" /><br>
    <label for="sign" class="col-form-label">Data Name <span style="color:red" uid="required">*</span></label><br>


    <input id="sign" type="text" class="form-control mx-sm-1 d-inline w-auto"
      placeholder="data name" /><br>
      <label for="sign" class="col-form-label">Data type <span style="color:red" uid="required">*</span></label><br>


      <input id="sign" type="text" class="form-control mx-sm-1 d-inline w-auto"
        placeholder="data type" /><br>



  <label for="sign" class="col-form-label">Data owner <span style="color:red"
      uid="required">*</span></label><br>


  <input id="sign" type="text" class="form-control mx-sm-1 d-inline w-auto"
    placeholder="data owner" />
</div>

                  </div>




                <div class="col">
                  <label for="sign" class="col-form-label">Sign </label>
                </div>
                <div classc="col">
                  <input id="sign" type="text" class="form-control mx-sm-1 d-inline w-auto" placeholder="sign" />
                </div>
                <div class="col">
                  <label for="uid" class="col-form-label">User ID <span style="color:red"
                      uid="required">*</span></label>
                </div>
                <div classc="col">
                  <input id="uid" type="text" class="form-control mx-sm-1 d-inline w-auto" placeholder="userID" />
                </div>

                <div classc="col">

                </div>
                <div class="col">
                  <label for="office" class="col-form-label">Office </label>
                </div>
                <div classc="col">
                  <input id="office" type="text" class="form-control mx-sm-1 d-inline w-auto" placeholder="office" />
                </div>

                <div class="col">
                  <label for="org" class="col-form-label">Organization <span style="color:red"
                      org="required">*</span></label>
                </div>
                <div classc="col">
                  <input id="org" type="text" class="form-control mx-sm-1 d-inline w-auto" placeholder="organization" />
                </div><br>




                <div *ngIf="display1">
                  <button [routerLink]="['/table']" type="button" class="btn btn-primary mb-2 mb-md-0 me-2 mt-2">Search </button>
                </div>
                <div *ngIf="display2">
                  <button [routerLink]="['/table2']" type="button" class="btn btn-primary mb-2 mb-md-0 me-2 mt-2">Search </button>
                </div>
                <div *ngIf="display1 !== true && display2 !== true">
                  <button  type="button" class="btn btn-primary mb-2 mb-md-0 me-2 mt-2">Search</button>
                </div>
                <!-- <button type="button" class="btn btn-danger mb-2 mb-md-0 me-2 mt-2">Clear</button> -->
                <!-- <button type="button" class="btn btn-primary mb-2 mb-md-0 me-2 mt-2" [routerLink]="['/table2']">Single Search</button> -->
              </form>
              <!-- <button type="button" class="btn btn-primary" (click)="openGlobalIndicator(true)">Open indicator</button> -->
