<div id="welcomePage" class="welcomePage branding">
  <div class="welcomePageBody">
    <div class="usermanagementpanel">
      <div class="usermanagementMainContent">

        <div class="tit1">Amadeus</div>
        <div class="tit2">LSS Access Viewer</div>
        <!-- <div class = "viewContainer">   -->


        <div class="card" id="apple">
          <div class="card-body">


            <div classc="row">

              <form>
                <div class="mb-5">
                  <!-- <label for="exampleSelectNativeValidation1" class="form-label">Action Type <span style="color:red" uid="required">*</span></label> -->
                  <!-- <select class="form-select" id="exampleSelectNativeValidation1">


                    <option  id="sel" >Select<span style="color:red" uid="required">*</span></option>
                    <option   id="list"   > List- Access<span style="color:red" uid="required">*</span></option>
                    <option id="single" >Single-Access <span style="color:red" uid="required">*</span></option>
                  </select> -->
                  <br>
                  <!-- <button type="button" class="btn btn-outline-primary mb-2 mb-md-0 me-2 mt-2"  (click)="hidfunc1()" >List-Access</button>
                  <button type="button" class="btn btn-outline-primary mb-2 mb-md-0 me-2 mt-2" (click)="hidfunc2()">Single-Access</button> -->


                  <label for="exampleSelectNativeValidation1" class="form-label" id="action_label"><b>Action Type</b><span
                      style="color:red" uid="required">*</span></label>
                  <select class="form-select" id="access_type" (change)="getSelectedValue($event)">
                    <option id="select">-- select --</option>
                    <option id="list">List-Access<span style="color:red" uid="required"></span></option>
                    <option id="single">Single-Access <span style="color:red" uid="required"></span></option>

                  </select>

                </div>
                <div>

                  <div *ngIf="display1">

                    <label for="exampleSelectNativeValidation1" class="form-label"><b>Access Type</b><span style="color:red"
                        uid="required">*</span></label>
                    <select class="form-select" id="exampleSelectNativeValidation1"  (change)="getSelectedValueAccessList($event)" >
                      <option id="list">-- select -- <span style="color:red" uid="required"></span></option>
                      <option id="list">Permission<span style="color:red" uid="required"></span></option>
                      <option id="single">Preferences<span style="color:red" uid="required"></span></option>
                      <option id="list">Attribute<span style="color:red" uid="required"></span></option>
                      <option id="single">ACL<span style="color:red" uid="required"></span></option>
                    </select>
                  </div>

                  <div *ngIf="display2">

                    <label for="exampleSelectNativeValidation1" class="form-label"><b>Access Type</b><span style="color:red"
                        uid="required">*</span></label>
                    <select class="form-select" id="exampleSelectNativeValidation1"  (change)="getSelectedValueAccessSingle($event)">
                      <option id="list">-- select -- <span style="color:red" uid="required"></span></option>
                      <option id="list">Permission<span style="color:red" uid="required"></span></option>
                      <option id="single">Preferences<span style="color:red" uid="required"></span></option>
                      <option id="list">Attribute<span style="color:red" uid="required"></span></option>
                      <option id="single">ACL<span style="color:red" uid="required"></span></option>
                    </select>
                    </div>

                      <div *ngIf="displayperm">
                      <label for="sign" class="col-form-label" required><b>Permission Application Name </b><span style="color:red" uid="required">*</span></label><br>


                      <input id="sign" type="text" class="form-control mx-sm-1 d-inline w-auto"
                        placeholder="Application Name" required><br>



                      <label for="sign" class="col-form-label"><b>Permission Name</b><span style="color:red"
                          uid="required">*</span></label><br>


                      <input id="sign" type="text" class="form-control mx-sm-1 d-inline w-auto"
                        placeholder="Permission" required />
                    </div>

                    <div *ngIf="displayprefer">
                      <label for="sign" class="col-form-label"><b>Application Preference </b><span style="color:red" uid="required">*</span></label><br>


                      <input id="sign" type="text" class="form-control mx-sm-1 d-inline w-auto"
                        placeholder="Preference" required /><br>



                      <label for="sign" class="col-form-label"><b>Preference </b><span style="color:red"
                          uid="required">*</span></label><br>


                      <input id="sign" type="text" class="form-control mx-sm-1 d-inline w-auto"
                        placeholder="Preference" required />
                    </div>

                    <div *ngIf="displayattri">
                      <label for="sign" class="col-form-label"><b>Attribute </b><span style="color:red" uid="required">*</span></label><br>


                      <input id="sign" type="text" class="form-control mx-sm-1 d-inline w-auto"
                        placeholder="attribute" required><br>
 </div>

 <div *ngIf="displayacl">
  <label for="sign" class="col-form-label"><b>Application Name </b><span style="color:red" uid="required">*</span></label><br>


  <input id="sign" type="text" class="form-control mx-sm-1 d-inline w-auto"
    placeholder="application name" required><br>
    <label for="sign" class="col-form-label"><b>Data Name</b> <span style="color:red" uid="required">*</span></label><br>


    <input id="sign" type="text" class="form-control mx-sm-1 d-inline w-auto"
      placeholder="data name" required><br>
      <label for="sign" class="col-form-label"><b>Data Type</b> <span style="color:red" uid="required">*</span></label><br>


      <input id="sign" type="text" class="form-control mx-sm-1 d-inline w-auto"
        placeholder="data type" required><br>



  <label for="sign" class="col-form-label"><b>Data Owner</b> <span style="color:red"
      uid="required">*</span></label><br>


  <input id="sign" type="text" class="form-control mx-sm-1 d-inline w-auto"
    placeholder="data owner" required>
</div>

                  </div>




                <div class="col">
                  <label for="sign" class="col-form-label"><b>Sign</b> </label>
                </div>
                <div classc="col">
                  <input id="sign" type="text" class="form-control mx-sm-1 d-inline w-auto" placeholder="sign" />
                </div>
                <div class="col">
                  <label for="uid" class="col-form-label"  required><b>User ID</b> <span style="color:red"
                      uid="required">*</span></label>
                </div>
                <div classc="col">
                  <input id="uid" type="text" class="form-control mx-sm-1 d-inline w-auto" placeholder="userID" required/>
                </div>

                <div classc="col">

                </div>
                <div class="col">
                  <label for="office" class="col-form-label"><b>Office</b> </label>
                </div>
                <div classc="col">
                  <input id="office" type="text" class="form-control mx-sm-1 d-inline w-auto" placeholder="office" />
                </div>

                <div class="col">
                  <label for="org" class="col-form-label"><b>Organization</b> <span style="color:red"
                      org="required">*</span></label>
                </div>
                <div classc="col">
                  <input id="org" type="text" class="form-control mx-sm-1 d-inline w-auto" placeholder="organization" required />
                </div><br>


                <div *ngIf="displaybase">
                  <!-- <input type="submit"> -->
                  <button type="button" class="btn btn-primary mb-2 mb-md-0 me-2"  (click)="alertfunc('warn')"><span class="icon-search" aria-hidden="true" ></span>Search</button>
                  &nbsp; &nbsp; <button type="reset" class="btn btn-danger mb-2 mb-md-0 me-2 mt-2"><span class="icon-remove-format" aria-hidden="true"></span>Clear</button>
                </div>

                 <!-- //list access -->
                <div *ngIf="displaylistperm">
                  <button type="button"   [routerLink]="['/table']" class="btn btn-primary mb-2 mb-md-0 me-2" ><span class="icon-search" aria-hidden="true" ></span>Search</button>&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp; &nbsp; <button type="reset" class="btn btn-danger mb-2 mb-md-0 me-2 mt-2"><span class="icon-remove-format" aria-hidden="true"></span>Clear</button>
                </div>

                <div *ngIf="displaylistprefer">
                  <button type="button"    [routerLink]="['/tableprefer']"  class="btn btn-primary mb-2 mb-md-0 me-2"  ><span class="icon-search" aria-hidden="true" ></span>Search</button>&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp; &nbsp; <button type="reset" class="btn btn-danger mb-2 mb-md-0 me-2 mt-2"><span class="icon-remove-format" aria-hidden="true"></span>Clear</button>
                </div>

                <div *ngIf="displaylistattri">
                  <button type="button"    [routerLink]="['/tableattri']" class="btn btn-primary mb-2 mb-md-0 me-2"  ><span class="icon-search" aria-hidden="true" ></span>Search</button>&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp; &nbsp; <button type="reset" class="btn btn-danger mb-2 mb-md-0 me-2 mt-2"><span class="icon-remove-format" aria-hidden="true"></span>Clear</button>
                </div>

                <div *ngIf="displaylistacl">
                  <button type="button"   [routerLink]="['/tableacl']"   class="btn btn-primary mb-2 mb-md-0 me-2"  ><span class="icon-search" aria-hidden="true" ></span>Search</button>&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp; &nbsp; <button type="reset" class="btn btn-danger mb-2 mb-md-0 me-2 mt-2"><span class="icon-remove-format" aria-hidden="true"></span>Clear</button>
                </div>






                <!-- //single access -->
                <div *ngIf="displaysingperm">
                  <button type="button"   [routerLink]="['/table2']"   class="btn btn-primary mb-2 mb-md-0 me-2" ><span class="icon-search" aria-hidden="true" ></span>Search</button>&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp; &nbsp; <button type="reset" class="btn btn-danger mb-2 mb-md-0 me-2 mt-2"><span class="icon-remove-format" aria-hidden="true"></span>Clear</button>
                </div>

                <div *ngIf="displaysingprefer">
                  <button type="button"     [routerLink]="['/tablesingprefer']"  class="btn btn-primary mb-2 mb-md-0 me-2"  ><span class="icon-search" aria-hidden="true" ></span>Search</button>&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp; &nbsp; <button type="reset" class="btn btn-danger mb-2 mb-md-0 me-2 mt-2"><span class="icon-remove-format" aria-hidden="true"></span>Clear</button>
                </div>

                <div *ngIf="displaysingattri">
                  <button type="button"  [routerLink]="['/tablesingattri']"   class="btn btn-primary mb-2 mb-md-0 me-2"  ><span class="icon-search" aria-hidden="true" ></span>Search</button>&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp; &nbsp; <button type="reset" class="btn btn-danger mb-2 mb-md-0 me-2 mt-2"><span class="icon-remove-format" aria-hidden="true"></span>Clear</button>
                </div>

                <div *ngIf="displaysingacl">
                  <button type="button" [routerLink]="['/tablesingacl']" class ="btn btn-primary mb-2 mb-md-0 me-2"  ><span class="icon-search" aria-hidden="true" ></span>Search</button>&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp; &nbsp; <button type="reset" class="btn btn-danger mb-2 mb-md-0 me-2 mt-2"><span class="icon-remove-format" aria-hidden="true"></span>Clear</button>
                </div>






                <!-- <button type="button" class="btn btn-danger mb-2 mb-md-0 me-2 mt-2">Clear</button> -->
                <!-- <button type="button" class="btn btn-primary mb-2 mb-md-0 me-2 mt-2" [routerLink]="['/table2']">Single Search</button> -->
              </form>
              <!-- <button type="button" class="btn btn-primary" (click)="openGlobalIndicator(true)">Open indicator</button> -->
