
    <div id="welcomePage" class="welcomePage branding">
            <div class="welcomePageBody">
                <div class="usermanagementpanel">
                    <div class ="usermanagementMainContent">

                        <div class = "tit1">Amadeus</div>
                        <div class ="tit2">LSS Access Viewer</div>
                          <!-- <div class = "viewContainer">   -->
                            <div class="card" id="apple">
                                <div class="card-body">

                                    <!-- <form>

                                        <div classc="col">
                                            <label for="officeid"class = "col-form-label">OfficeID :</label></div>
                                        <div classc="col">
                                            <input id="officeid" type="text" class="form-control mx-sm-3 d-inline w-auto" placeholder="OfficeID" formControlName="Officeid"/></div>
                                        <div class="col">
                                            <label for="username"class = "col-form-label">Member Login :</label></div>
                                        <div classc="col">
                                            <input id="username" type="text" class="form-control mx-sm-3 d-inline w-auto" placeholder="userID" formControlName="userid"/></div>
                                        <div class="col">
                                            <label for="phase"class = "col-form-label">Phase :</label></div>
                                        <div classc="col">

                                            <select class="form-select mx-sm-3 d-inline" name="usertype" formControlName="phase"  style="position:relative;width:92%;" >
                                                <option value="">Select a Phase</option>
                                                <option *ngFor="let group of options" [ngValue]="group" >{{group}}</option>
                                              </select></div>
                                        <div class="col">
                                            <label for="password"class = "col-form-label">password :</label></div>
                                        <div classc="col">
                                            <input id="password" type="password" class="form-control mx-sm-3 d-inline w-auto" formControlName="pass"  placeholder="Password"/></div><br>

                                            <button type="submit" value="login" class="btn btn-primary">login</button>
                                            <button type="button"  class="btn btn-danger">clear</button>




                                     </form> -->
                                </div>
                            </div>



                        <!-- </div> -->

                    </div>
                </div>


            </div>

        </div>



