
<div class="viewcontainer">
    <div class="card">
      <div class="card-body ">
          <form>

              <div class="keys">
                  <label class="lab">

                  </label>
                  <input type="text" name="myData"  class="key">
              </div>
              <div class="keys">
                  <label class="lab">

                  </label>
                  <input type="text" name="myData" class="key">
              </div>
              <div class="keys">
                  <label class="lab">

                  </label>
                  <input type="password" name="myData" class="key">
              </div>
              <!-- <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem
                          *ngFor="let label of options; index as id"
                          class="dropdown-item"
                          [class.active]="id === dropdownSelected[0]"
                          (click)="dropdownSelect(0, id)">{{label}}</button>
              </div> -->
              <div class="keys" >
                  <label class="lab" >

                  </label>

                  <select class=" custom-select " name="ur" class="drop">

                    <!-- <option *ngFor="let group of options" [ngValue]="group" >{{group}}</option> -->

                  </select>
              </div>
              <input type="submit" value="Login" class="btn btn-primary btn-block">
          </form>
      </div>
    </div></div>
